*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#mainbody{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(blue, rgb(56, 56, 224),rgb(204, 204, 228));
    display: flex; 
    justify-content: center;
    align-items: center;
    /* position: sticky;
    top: 0; */
}

.namebox h1{
    font-size: 130px;
    margin: 0;
    padding: 0;
    color : snow;
}

.namebox p{
    font-size: 40px;
    margin: 0;
    padding: 0;
    color : snow;
}

